<h1 class="page-heading">About Me</h1>

<div class="container width-80">
  <p>My name is Roisin Briscoe and there are 4 things I am passionate about: Climbing, supernatural TV, coding and gender equality. I started my career as a scientist, trying to solve the mysteries of Multiple Sclerosis (MS).  From there, I turned to admin where I always had a hand in maintaining websites and creating new programs from existing software.  Now, I am a software engineer learning how to build that software and those websites from scratch.</p>

  <p>This webiste is a continual work in progress which I aim to update with features such as mobile phone responsivness, using AJAX to increase my dead women counter, fixing TinyMCE bugs and much much more!</p>

</div>