<a href="/gender-equality">
  <section class="parallax first-section">
    <h1>Gender Equality</h1>
  </section>
</a>
<a href="/sport">
  <section class="second-section">
    <h1>Sport</h1>
  </section>
</a>
<a href="/supernatural">
  <section class="parallax third-section">
    <h1>Supernatural (TV)</h1>
  </section>
</a>
<a href="/technology">
  <section class="fourth-section">
    <h1>Technology</h1>
  </section>
</a>
<a href="/other">
  <section class="parallax fifth-section">
    <h1>Other</h1>
  </section>
</a>