<!doctype html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164612287-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-164612287-1');
  </script>

  <meta charset="UTF-8">
  <title>Roisin Briscoe</title>
  <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
  <link rel="icon" href="/media/logo.jpg" />
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <script src="https://cdn.tiny.cloud/1/nv3mu9ttkch9ur2f1xuxtn0ccgt5d7dh4hxqzz4d5vhme990/tinymce/5/tinymce.min.js"></script>
  <script>
  tinymce.init({
    selector: '#editor',
    keep_styles: false,
    
  });
  </script>
</head>
<body>

  <nav class="navbar nav-style navbar-expand-lg bg-white ">
    <a class="navbar-brand" href="/">
      <img class="logo" src="/media/logo.jpg" alt="">
    </a>
    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item first-nav">
          <a class="nav-link" href="/gender-equality">Gender Equality</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sport">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/supernatural">Supernatural</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/technology">Technology</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/other">Other</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
  </nav>

  <%= yield %>

</body>
</html>