<h1 class="page-heading">Login</h1>

<div class="login container">
    <form action="/session" method="post">
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button>Login</button>
    </form>
</div>